<ng-container *ngIf="profile()">
  <nav class="navbar bg-neutral text-neutral-content">
    <div class="navbar-start">
      <a class="btn btn-ghost normal-case text-xl" data-cy="text-navbar-header">
        Order Coffee
      </a>
    </div>
    <div class="navbar-end gap-2">
      <a class="btn btn-ghost" data-cy="text-navbar-profile-name">
        Hi, {{ profile()?.name }}
      </a>
      <button class="btn btn-error" (click)="logout()" data-cy="btn-logout">
        Logout
      </button>
    </div>
  </nav>
  <div class="flex p-4 min-h-screen">
    <div class="toast toast-top toast-center" *ngIf="messages().length">
      <div
        class="alert alert-success"
        data-cy="alert-message"
        *ngFor="let message of messages()"
      >
        {{ message.icon }} {{ message.msg }}
      </div>
    </div>
    <main class="flex-1">
      <div class="card h-full">
        <div class="card-body">
          <h1 class="card-title" data-cy="text-title-menu">Menu</h1>
          <ul class="flex flex-wrap gap-4">
            <li
              class="card card-bordered w-60"
              data-cy="menu-item"
              *ngFor="let item of menu()"
            >
              <div class="card-body">
                <h2 class="card-title" data-cy="text-menu-item-name">
                  {{ item.name }}
                </h2>
                <span data-cy="text-menu-item-price">
                  {{ item.price | currency : 'Rp' : 'symbol' : '3.0' }}
                </span>
                <button
                  class="btn"
                  (click)="addToCart(item)"
                  data-cy="btn-add-menu-item-to-cart"
                >
                  Tambah
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <aside class="max-w-screen-sm w-full flex-shrink-0">
      <div class="card card-bordered h-full">
        <div class="card-body">
          <div class="card-title" data-cy="text-title-cart">Cart</div>
          <ul class="h-full">
            <li
              *ngFor="let item of cart()"
              class="flex items-baseline gap-2"
              data-cy="cart-item"
            >
              <input
                type="number"
                min="1"
                class="input hover:input-bordered w-16"
                data-cy="input-cart-item-amount"
                [(ngModel)]="item.amount"
              />
              <span class="flex-1" data-cy="text-cart-item-name">
                {{ item.name }}
              </span>
              <span class="relative" data-cy="text-cart-item-total-price">
                {{
                  item.amount * item.price | currency : 'Rp' : 'symbol' : '3.0'
                }}
              </span>
              <button
                class="btn btn-circle btn-ghost btn-sm"
                data-cy="btn-remove-item-from-cart"
                (click)="removeItemFromCart(item)"
              >
                X
              </button>
            </li>
          </ul>
          <div class="card-actions" *ngIf="cart().length">
            <button
              class="ml-auto btn btn-primary btn-wide"
              data-cy="btn-checkout"
              (click)="checkout()"
            >
              Checkout {{ total() | currency : 'Rp' : 'symbol' : '3.0' }}
            </button>
          </div>
        </div>
      </div>
    </aside>
  </div>
</ng-container>
<ng-container *ngIf="!profile()">
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="card">
        <div class="card-body">
          <h1 class="text-2xl mb-2" data-cy="text-title-login">Login</h1>
          <input
            class="input"
            type="text"
            placeholder="Name"
            data-cy="input-name"
            #nameInputRef
          />
          <input
            class="input"
            type="password"
            placeholder="Password"
            data-cy="input-password"
            #passwordInputRef
          />
          <button
            class="btn btn-wide btn-primary"
            data-cy="btn-login"
            (click)="login(nameInputRef.value, passwordInputRef.value)"
          >
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
